<div class="section page-title bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-md">
        <h1 class="text-center">Sign Up</h1>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6 ml-auto mr-auto">
      <div class="box">

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <div class="form-group">
          <%= f.label :username %>
          <%= f.text_field :username, autofocus: true, class: 'form-control', placeholder: "Username" %>
        </div>

        <div class="form-group">
          <%= f.label :name, "Full name" %>
          <%= f.text_field :name, autofocus: false, class: 'form-control', placeholder: "Full Name" %>
        </div>

        <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: false, class: 'form-control', placeholder: "Email Address" %>
        </div>

        <div class="form-group">
          <%= f.label :password %>
          <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: 'Password' %>
        </div>

        <div class="form-group">
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', placeholder: 'Confirm Password' %>
        </div>

        <div class="form-group">
          <%= f.submit "Sign up", class: "btn btn-primary btn-block btn-lg" %>
        </div>
        <% end %>
        <hr>

        <div class="text-center">
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>
