<footer class="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md footer-left">
        <a class="navbar-brand m-b-10 m-r-0" href="<%= root_path %>">
          <%= image_tag("logo.svg") %>
        </a>
        <span>Have a nice <%= Time.now.strftime("%A") %>!</span>
        <span>Made with <%= image_tag "love.svg" %> and <a href="https://www.iota.org" target="_blank"><%= image_tag "iota.svg" %></a> by <a href="https://ecosystem.iota.org/users/huhn" target="_blank">huhn</a> and <a href="https://ecosystem.iota.org/users/rep0x" target="_blank">r3p0x</a> </span>
      </div>
      <div class="col-md footer-right">
        <ul>
          <li class="nav-item <%= "active" if request.path == '/get_started' %>""><%= link_to "Get started", get_started_path, class: "nav-link #{unread_announcements(current_user)}" %></li>
          <li class="nav-item <%= "active" if request.path == '/announcements' %>""><%= link_to "What's New", announcements_path, class: "nav-link #{unread_announcements(current_user)}" %></li>
        </ul>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md">
        <ul class="list-inline mb-0" align="center">
          <li class="list-inline-item"><%= link_to "Privacy Policy", privacy_path %></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
