<div class="section page-title bg-primary m-b-0">
  <div class="container">
    <div class="row">
      <div class="col-md">
        <h1 class="text-center m-b-20">Sponsors</h1>
        <p class="mr-auto ml-auto" style="max-width: 500px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <a href="#" class="btn btn-dark">Become a sponsor</a>
        <%= react_component("Balance", { address: @project.address }) %>
        <div class="btn btn-primary buttonCopyAddressk" data-toggle="tooltip" data-placement="bottom" title="<%= @project.address %>"  data-address="<%= @project.address %>">
          <%= @project.address.truncate(9, omission: "...#{@project.address.last(3)}") %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section p-t-50 p-b-100" style="margin-bottom: -100px;">
  <div class="container">
    <div class="row">
      <div class="col-lg">
        <div class="sponsors-header sponsors-header__diamond">
          <h5>Diamond</h5>
        </div>
        <div class="box-grid">
          <div class="box  box-center">
            <div class="box-body">
              <%= image_tag "icons/image-dark.svg", class: 'logo mr-auto ml-auto m-b-15', style: 'opacity: .25;' %>
              <h5>Brandname</h5>
            </div>
          </div>
          <div class="box  box-center">
            <div class="box-body">
              <%= image_tag "icons/image-dark.svg", class: 'logo mr-auto ml-auto m-b-15', style: 'opacity: .25;' %>
              <h5>Brandname</h5>
            </div>
          </div>
        </div>
        <div class="sponsors-header sponsors-header__platin">
          <h5>Platin</h5>
        </div>
        <div class="box-grid">
          <div class="box  box-center">
            <div class="box-body">
              <%= image_tag "icons/image-dark.svg", class: 'logo mr-auto ml-auto m-b-15', style: 'opacity: .25;' %>
              <h5>Brandname</h5>
            </div>
          </div>
          <div class="box  box-center">
            <div class="box-body">
              <%= image_tag "icons/image-dark.svg", class: 'logo mr-auto ml-auto m-b-15', style: 'opacity: .25;' %>
              <h5>Brandname</h5>
            </div>
          </div>
          <div class="box  box-center">
            <div class="box-body">
              <%= image_tag "icons/image-dark.svg", class: 'logo mr-auto ml-auto m-b-15', style: 'opacity: .25;' %>
              <h5>Brandname</h5>
            </div>
          </div>
          <div class="box  box-center">
            <div class="box-body">
              <%= image_tag "icons/image-dark.svg", class: 'logo mr-auto ml-auto m-b-15', style: 'opacity: .25;' %>
              <h5>Brandname</h5>
            </div>
          </div>
        </div>
        <div class="sponsors-header sponsors-header__gold">
          <h5>Gold</h5>
        </div>
        <div class="box-grid">
          <div class="box  box-center">
            <div class="box-body">
              <%= image_tag "icons/image-dark.svg", class: 'logo mr-auto ml-auto m-b-15', style: 'opacity: .25;' %>
              <h5>Brandname</h5>
            </div>
          </div>
          <div class="box  box-center">
            <div class="box-body">
              <%= image_tag "icons/image-dark.svg", class: 'logo mr-auto ml-auto m-b-15', style: 'opacity: .25;' %>
              <h5>Brandname</h5>
            </div>
          </div>
          <div class="box  box-center">
            <div class="box-body">
              <%= image_tag "icons/image-dark.svg", class: 'logo mr-auto ml-auto m-b-15', style: 'opacity: .25;' %>
              <h5>Brandname</h5>
            </div>
          </div>
          <div class="box  box-center">
            <div class="box-body">
              <%= image_tag "icons/image-dark.svg", class: 'logo mr-auto ml-auto m-b-15', style: 'opacity: .25;' %>
              <h5>Brandname</h5>
            </div>
          </div>
        </div>
        <div class="sponsors-header sponsors-header__silver">
          <h5>Silver</h5>
        </div>
        <div class="box-grid">
          <div class="box  box-center">
            <div class="box-body">
              <%= image_tag "icons/image-dark.svg", class: 'logo mr-auto ml-auto m-b-15', style: 'opacity: .25;' %>
              <h5>Brandname</h5>
            </div>
          </div>
          <div class="box  box-center">
            <div class="box-body">
              <%= image_tag "icons/image-dark.svg", class: 'logo mr-auto ml-auto m-b-15', style: 'opacity: .25;' %>
              <h5>Brandname</h5>
            </div>
          </div>
          <div class="box  box-center">
            <div class="box-body">
              <%= image_tag "icons/image-dark.svg", class: 'logo mr-auto ml-auto m-b-15', style: 'opacity: .25;' %>
              <h5>Brandname</h5>
            </div>
          </div>
          <div class="box  box-center">
            <div class="box-body">
              <%= image_tag "icons/image-dark.svg", class: 'logo mr-auto ml-auto m-b-15', style: 'opacity: .25;' %>
              <h5>Brandname</h5>
            </div>
          </div>
        </div>
        <div class="sponsors-header sponsors-header__bronze">
          <h5>Bronze</h5>
        </div>
        <div class="box-grid">
          <div class="box  box-center">
            <div class="box-body">
              <%= image_tag "icons/image-dark.svg", class: 'logo mr-auto ml-auto m-b-15', style: 'opacity: .25;' %>
              <h5>Brandname</h5>
            </div>
          </div>
          <div class="box  box-center">
            <div class="box-body">
              <%= image_tag "icons/image-dark.svg", class: 'logo mr-auto ml-auto m-b-15', style: 'opacity: .25;' %>
              <h5>Brandname</h5>
            </div>
          </div>
          <div class="box  box-center">
            <div class="box-body">
              <%= image_tag "icons/image-dark.svg", class: 'logo mr-auto ml-auto m-b-15', style: 'opacity: .25;' %>
              <h5>Brandname</h5>
            </div>
          </div>
          <div class="box  box-center">
            <div class="box-body">
              <%= image_tag "icons/image-dark.svg", class: 'logo mr-auto ml-auto m-b-15', style: 'opacity: .25;' %>
              <h5>Brandname</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(".buttonCopyAddressk").on("click", function(event) {
    var address = $(this).data('address');
    copyToClipboard(address)
    successAnimation(event.target)
    console.log("jiji");
  });

</script>
