@import "partials/mixins";

.alert {
  position: fixed !important;
  z-index: 10;
  top: 100px;
  right: 10px;
  border: 2px solid var(--black_25) !important;
  color: var(--white_100) !important;
  .close {
    width: 40px;
    height: 50px;
    margin: -13px -20px;
    margin-left: 5px;
  }
  &-info {
    background-color: var(--notice) !important;
  }
  &-warning {
    background-color: var(--yellow) !important;
  }
}
/* < 575.98px */
@media screen and (max-width: 575.98px) {
  .alert {
    width: calc(100% - 20px);
  }
}
