.announcement {
  strong {
    color: var(--dark);
    font-weight: 900;
  }
}

.unread-announcements:before {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: var(--warning);
  content: '';
  display: inline-block;
  height: 8px;
  width: 8px;
  margin-right: 6px;
}
