@import "partials/mixins";

nav.navbar {
  height: 90px;
  width: 100%;
  @include flex(row, space-between, wrap);
  align-items: center;
  @include box-shadow;
  background-color: var(--dark-2);
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  .meta-nav {
    height: 30px;
    margin: -10px -15px 0;
    width: calc(100% + 30px);
    @include linear-gradient(to left, var(--white_5), var(--white_0));
    ul {
      height: inherit;
      margin: 0;
      padding: 0;
      @include flex(row, flex-start, nowrap);
      list-style-type: none;
      li {
        height: inherit;
        a {
          height: inherit;
          font-size: 10px;
          text-transform: uppercase;
          padding: 0 15px;
          font-weight: 700;
          letter-spacing: 2px;
          color: var(--white_50);
          @include flex(column, center, nowrap);
          align-items: center;
        }
      }
    }
  }
  a.navbar-brand {
    margin: 0;
    height: 60px;
    padding: 0;
    @include flex(column, center);
    img {
      height: 34px;
    }
  }
  div.navbar-collapse {
    @include flex(row, flex-end, nowrap);
    height: 60px;
    ul.navbar-nav {
      @include flex(row, flex-end, nowrap);
      align-items: center;
      li.nav-item {
        padding: 10px 20px;
        font-size: 1rem;
        a {
          @include transition;
          color: var(--white_50);
          &:hover,  {
            color: var(--primary-2);
          }
        }
        &.icon {
          padding: 10px;
          img {
            @include size(20px, 20px);
          }
        }
        &.dropdown {
          position: relative;
          a#navbar-dropdown {
            position: relative;
            &:after {
              position: absolute;
              top: 20px;
              right: -10px;
            }
          }
          .dropdown-menu {
            position: absolute;
            left: auto;
            right: 0;
            top: 70px;
            a.dropdown-item {
              color: var(--dark);
            }
          }
        }
        &--btn {
          padding-right: 0;
        }
        &.active {
          a {
            color: var(--primary-2);
            font-weight: 700;
          }
        }
      }
    }
  }
}

/* < 991px */
@media screen and (max-width: 991px) {
  nav.navbar {
    width: 100%;
    height: auto;
    min-height: 70px;
    flex-wrap: wrap;
    padding: 0;
    position: fixed;
    .meta-nav {
      margin: 0;
    }
    a.navbar-brand {
      img {
        height: 34px;
        margin-left: 10px;
      }
    }
    .navbar-toggler {
      @include size(60px, 60px);
      outline: none;
      @include flex(column, center, nowrap);
      align-items: center;
      border-radius: 0 !important;
      &[aria-expanded="false"] {
        .navbar-toggler-wrapper {
          span.line {
            &__top {
              top: 5.5px;
              transform: rotate(0deg);
            }
            &__center {
              opacity: 1;
              width: 20px;
            }
            &__bottom {
              bottom: 5.5px;
              transform: rotate(0deg);
            }
          }
        }
      }
      .navbar-toggler-wrapper {
        position: relative;
        @include size(30px, 26px);
        @include flex(column, center, nowrap);
        align-items: flex-end;
        span.line {
          @include size(3px, 26px);
          background-color: var(--white_100);
          @include border-radius;
          position: absolute;
          @include transition;
          &__top {
            top: 14px;
            transform: rotate(45deg);
          }
          &__center {
            opacity: 0;
          }
          &__bottom {
            transform: rotate(-45deg);
            bottom: 13px;
          }
        }
      }
      &:hover {
        @include bg(primary);
      }
    }
    div.navbar-collapse {
      display: none;
      height: auto;
      &.show {
        display: flex;
      }
      ul.navbar-nav {
        @include flex(column, flex-start, nowrap);
        width: 100%;
        height: calc(100vh - 70px);
        background-color: var(--white_5);
        li.nav-item {
          height: 70px;
          width: 100%;
          @include flex(row, flex-end, nowrap);
          align-items: center;
          position: relative;
          padding: 0;
          border-bottom: 1px solid var(--white_10);
          &:first-child {
            border-top: 1px solid var(--white_10);
          }
          a {
            text-align: right;
            @include size(100%, 100%);
            padding: 0 20px;
            @include flex(row, flex-end, nowrap);
            align-items: center;
          }
          &--btn, &.icon, &.dropdown {
            padding: 0;
            position: relative;
          }
          &.button {
            padding: 10px;
          }
          &.dropdown {
            a#navbar-dropdown {
              &:after {
                right: -15px;
              }
            }
          }
          &.active {
            a {
              color: var(--white_100);
            }
            &:after {
              content: '';
              position: absolute;
              right: -5px;
              width: 10px;
              height: 36px;
              @include bg(primary);
              @include border-radius;
            }
          }
        }
      }
    }
  }
}
